.whole-landing-page {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 60px;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #e2f3ef;
  border-radius: 70px;
}
.landing-color-page {
  margin-left: 50px;
}
.user_name_landing {
  font-size: 50px;
  font-weight: 600;
}
.btn-success {
  background-color: #377f6e;
}
.btn-success:hover {
  background-color: #317162;
}
.landing-button-text {
  color: white;
  text-decoration: none;
}
.landing-button-text:hover {
  color: #e2f3ef;
}
.h1-for-landing-search {
  text-align: center;
  margin-top: 60px;
}

@media screen and (max-width: 1368px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -6%;
  }
}
@media screen and (max-width: 1120px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -13%;
  }
}
@media screen and (max-width: 945px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -19%;
  }
}
@media screen and (max-width: 840px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -25%;
  }
  .h1-for-landing-search {
    font-size: 20px;
  }
}
@media screen and (max-width: 705px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -33%;
  }
}
@media screen and (max-width: 645px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -40%;
  }
}
@media screen and (max-width: 584px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -48%;
  }
}
@media screen and (max-width: 545px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -56%;
  }
  .h1-for-landing-search {
    font-size: 16px;
    margin-bottom: -15px;
  }
}
@media screen and (max-width: 500px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -66%;
  }
}
@media screen and (max-width: 450px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -85%;
    margin-right: 10%;
  }
}
@media screen and (max-width: 400px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -110%;
  }
  .h1-for-landing-search {
    font-size: 14px;
    margin-bottom: -15px;
  }
}
@media screen and (max-width: 385px) {
  .whole-landing-page {
    padding-left: 0;
    margin-left: -126%;
    margin-right: 10%;
  }
  .h1-for-landing-search {
    margin-left: 20%;
  }
}