.whole-friend-component {
  margin-top: 4.5%;
}
.friend-component-header {
  font-weight: 600;
}
.btn-success {
  background-color: #377f6e;
}
.btn-success:hover {
  background-color: #317162;
}
.btn-genre-artist, .btn-genre-artist:hover{
  border-radius: 70px;
  background-color: #bababa;
  border: 2px solid #bababa;
}
.btn-genre-artist {
  width: fit-content;
}
.friend-component-avatar {
  height: 200px;
  width: 200px;
  margin-left: 60px;
  margin-top: 60px;
  margin-right: 80px
}
.whole-postcard-body {
  background-color: #e2f3ef;
}
.unfriend-button {
  margin-bottom: 20px;
}
.friend-events {
  margin-top: 20px;
  font-size: 30px;
}