.container {
  display: flex left;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.label,
.button {
  margin-right: 0.5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}
:root {
  font-size: 62.5%;
}
