.profiles-cards {
  margin-top: 3%;
}
.all-profiles-avatar-img {
  height: 190px;
  width: 190px;
  border-top-left-radius: 6%;
  border-top-right-radius: 6%;
}
.profile-more-info-btn {
  font-size: 40px;
  color: black;
}
.profile-more-info-btn:hover {
  color: #377f6e;
}
.individual-cards {
  text-align: center;
  color: black;
  border-radius: 5%;
  margin-top: 38px;
}
.individual-cards:hover {
  transform: scale(1.1);
  color: #377f6e;
}
@media screen and (max-width: 1200px) {
  .profiles-cards {
    margin-left: -10%;
  }
}
@media screen and (max-width: 700px) {
  .profiles-cards {
    margin-left: -35%;
    margin-right: 0;
  }
}
@media screen and (max-width: 457px) {
  .profiles-cards {
    margin-left: -55%;
  }
}
@media screen and (max-width: 425px) {
  .profiles-cards {
    margin-left: -75%;
  }
}
@media screen and (max-width: 390px) {
  .profiles-cards {
    margin-left: -95%;
  }
}
@media screen and (max-width: 370px) {
  .profiles-cards {
    margin-left: -120%;
  }
}

@media screen and (max-width: 350px) {
  .profiles-cards {
    margin-left: -160%;
  }
}
@media screen and (max-width: 330px) {
  .profiles-cards {
    margin-left: -190%;
  }
}
@media screen and (max-width: 320px) {
  .profiles-cards {
    margin-left: -230%;
  }
}
@media screen and (max-width: 310px) {
  .profiles-cards {
    margin-left: -270%;
  }
}
@media screen and (max-width: 300px) {
  .profiles-cards {
    margin-left: -320%;
  }
}