.whole-navigation-bar, .logout-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.nav_li_item {
  list-style: none;
  height: 50px;
  width: 100%;
  margin: 0;
  margin-top: 15%;
  position: relative;
  line-height: 50px;
}
.nav_list {
  padding-left: 0;
  margin-top: 20px;
}
.sidebar {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
.link_tag_destination, .link_tag_destination_home {
  color: #fff;
  display: flex;
  align-items: center;
  transition: all 0.4s ease;
  border-radius: 12px;
}
.link_tag_destination:hover {
  background-color: #fff;
  color: #11101d;
}
.nav_icon_item {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.nav_icon_item_logout {
  height: 70px;
  min-width: 70px;
  line-height: 50px;
  text-align: center;
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 240px;
  background-color: #11101d;
  padding: 6px 14px;
}

.logo {
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  margin-top: 18%;
}
.logo_content, .logo, i{
  font-size: 27px;
  margin-right: 5px;
}

.logo_name {
  font-size: 32px;
  font-weight: 700;
  margin-top: 2%;
  font-family: 'League Spartan', sans-serif;
}
.links_name {
  font-size: 17px;
}

.profile_content {
  margin-top: 5px;
}
#nav-menu-btn {
  position: absolute;
  color: #fff;
  left: 90%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
} 

#logout {
  position: absolute;
  left: 49%;
  bottom: 5px;
  transform: translateX(-50%);
  min-width: 50px;
  line-height: 50px;
  font-size: 20px;
  color: #fff;
}
.logout-btn {
  position: absolute;
  left: 75%;
}

@media screen and (max-height: 600px) {
  .profile_content {
    display: none;
  }
}
